<h1 class='title'>Overview of Job ID <%= @job_id %></h1>

<table width='100%' align='center' border=0 cellspacing=0 cellpadding=6>
<tr>
	<td align='center'><%= render_ezgraphix @g1 %></td>
</tr>
</table>

	
