<%

graph_id = "g" + rand(0x1000000).to_s
line_data = raw("")

line_data << raw("{ name: 'Timeout', data: [ #{@call_results[:Timeout].to_i.to_s } ] }, ")
line_data << raw("{ name: 'Busy', data: [ #{@call_results[:Busy].to_i.to_s } ] }, ")
line_data << raw("{ name: 'Answered', data: [ #{@call_results[:Answered].to_i.to_s } ] }, ")

%>

<div id="<%= graph_id %>"></div>

<%= javascript_tag do %>

 $(function () {
    var chart;
    $(document).ready(function() {
          chart = new Highcharts.Chart({
            chart: {
                renderTo: '<%= graph_id %>',
                type: 'bar',
                height: 150
            },
            title: {
                text: 'Call Results'
            },
            xAxis: {
                categories: ['Calls']
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Calls by Result'
                }
            },
            legend: {
                backgroundColor: '#FFFFFF',
                reversed: true
            },
            tooltip: {
                formatter: function() {
                    return ''+
                        this.series.name +': '+ this.y +'';
                }
            },
            plotOptions: {
                series: {
                    stacking: 'normal'
                }
            },
            series: [ <%= line_data %> ]
        });
    });

});


<% end %>

</div>
