<%

graph_id = "g" + rand(0x1000000).to_s
line_data = raw("")

@lines_by_type.keys.sort{|a,b| @lines_by_type[b] <=> @lines_by_type[a]}.each do |k|
	line_data << raw("{ name: '#{k.to_s.capitalize}', data: [ #{ @lines_by_type[k].to_i.to_s} ]}, ")
end

%>

<div id="<%= graph_id %>"></div>

<%= javascript_tag do %>

    $(document).ready(function() {
          chart = new Highcharts.Chart({
            chart: {
                renderTo: '<%= graph_id %>',
                type: 'bar',
                height: 250
            },
            title: {
                text: 'Line Types'
            },
            xAxis: {
                categories: ['Lines']
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Lines by Type'
                }
            },
            legend: {
                backgroundColor: '#FFFFFF',
                reversed: true
            },
            tooltip: {
                formatter: function() {
                    return ''+
                        this.series.name +': '+ this.y +'';
                }
            },
            plotOptions: {
                series: {
                    stacking: 'normal',
                    animation : false
                }
            },
            series: [ <%= line_data %> ]
        });
    });

<% end %>
