<%
ttip = raw("<div class='task_args_formatted'>")
ttip << raw("<div class='task_args_var'>Call Time:</div> ")
ttip << raw("<div class='task_args_val'>") + h(call.created_at.strftime("%Y-%m-%d %H:%M:%S %Z")) + raw("&nbsp;</div>")
ttip << raw("<div class='task_args_var'>CallerID:</div> ")
ttip << raw("<div class='task_args_val'>") + h(call.caller_id) + raw("&nbsp;</div>")
ttip << raw("<div class='task_args_var'>Provider:</div> ")
ttip << raw("<div class='task_args_val'>") + h(call.provider.name) + raw("&nbsp;</div>")
ttip << raw("<div class='task_args_var'>Audio:</div> ")
ttip << raw("<div class='task_args_val'>") + h(call.audio_length.to_s) + raw("&nbsp;</div>")
ttip << raw("<div class='task_args_var'>Ring:</div> ")
ttip << raw("<div class='task_args_val'>") + h(call.ring_length.to_s) + raw("&nbsp;</div>")
ttip << raw("</div>\n")
%><%= raw("<span class='xpopover' rel='popover' data-title=\"#{h call.number.to_s }\" data-content=\"#{ttip}\"><strong>#{h call.line_type.to_s.upcase }</strong></span>") -%>
