<%
	lid = "call_#{call.id}_freq"
%>
<div id="<%= lid %>" class="lightbox hide fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class='lightbox-content'>
		<a href="#" data-dismiss="lightbox"><img src="<%=resource_analyze_path(call.id, "big_freq")%>"/></a>
	</div>
</div>

<a data-toggle="lightbox" href="#<%= lid %>"><img src="<%=resource_analyze_path(call.id, "small_freq")%>"/></a>
