<div id="header">
	
	<span width='50%'>
		<a href="/"><img id="logo" src="/images/logo.png" alt="WarVOX v<%= WarVOX::VERSION %>" border="0"/></a>
	</span>
	
	<span width='50%'>
		<div id="navwrap">
		<div id="nav">
			<%= get_sections() %>
		</div>
		</div>
	</span>
	
	<br/>
	<hr width='100%' size=5 color='black'/>
</div>
