development:
  secret_key_base: <%= WarVOX::Config.load_session_key %>

test:
  secret_key_base: <%= WarVOX::Config.load_session_key %>

production:
  secret_key_base: <%= WarVOX::Config.load_session_key %
