<%

graph_id = "g" + rand(0x1000000).to_s
pie_data = raw("[ 'Timeout', #{@call_results[:Timeout].to_i.to_s} ], ['Busy', #{@call_results[:Busy].to_i.to_s} ], ['Answered', #{@call_results[:Answered].to_i.to_s} ]")

%>

<div id="<%= graph_id %>"></div>

<%= javascript_tag do %>

 $(function () {
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: '<%= graph_id %>',
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                shadow: true,
                width: 600,
                height: 400
            },
            title: {
                text: 'Dial Results'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage}%</b>',
                percentageDecimals: 1
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        connectorColor: '#000000',
                        formatter: function() {
                            return '<b>'+ this.point.name +'</b>: '+ Math.round(this.percentage) +' %';
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'Result',
                data: [<%= pie_data %>]
            }]
        });
    });
});


<% end %>

</div>
