<% if @dial_data_todo.length > 0 %>

<h1 class='title'>
	Analyzing Audio for <%= @dial_data_total-@dial_data_done %> of <%= @dial_data_total %> Calls...
</h1>

<table width='100%' align='center' border=0 cellspacing=0 cellpadding=6>
<tr>
<% if @dial_data_done > 0 %>
	<td align='center'>
		<%= render :partial => 'shared/graphs/lines_by_type' %>
	</td>
<% end %>
</tr>
</table>

<script language="javascript">
	setTimeout("location.reload(true);", 10000);
</script>

<% else %>

<h1 class='title'>No Completed Calls Found</h1>

<% end %>

<br />
